<?xml version="1.0" encoding="UTF-8" ?>
<module>
  <name>allegropro</name>
  <displayName><![CDATA[ALLEGRO PRO]]></displayName>
  <version><![CDATA[2.1.2]]></version>
  <description><![CDATA[Zarządzanie kontami Allegro (OAuth), zamówieniami oraz przesyłkami Wysyłam z Allegro.]]></description>
  <author><![CDATA[BigBio]]></author>
  <tab><![CDATA[administration]]></tab>
  <is_configurable>1</is_configurable>
  <need_instance>0</need_instance>
  <ps_versions_compliancy>
    <min>8.0.0</min>
    <max>8.99.99</max>
  </ps_versions_compliancy>
</module>
